body{
    background-image: linear-gradient(to right top, #d1b16b, #e4742a, #d9d075, #ded07a, #dbce15, #e5ce7d, #e8cb7c, #ebc97b, #efc473, #f3be6c, #f7b865, #fa9624);

    height:100vh;
    width: 100%;
}



.inputfood{
    width: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
    padding-top: 10px;
}

.submit{
    background-color:lightgreen;
    border:none !important;
    padding:0.7rem;
    display:flex;
    margin-top: 0.5rem;
    align-items: center;
    justify-content: center;
    align-content: center;
    border-radius: 1rem;
}
.submitted{
    background-color:lightgreen;
    border:none !important;
    margin-top: 0.5rem;

    padding:0.7rem;
    display:flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    border-radius: 1rem;

}

.food-items{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.labels{
    display: flex;
    width: 100%;
    height:20vh;
    flex-wrap:wrap ;
    justify-content:space-between;
}

.label{

    display: flex;
    margin: 1rem;
    justify-content: center;
    padding: 1rem;
    align-items: center;
    align-content: center;
    width:fit-content;
    height:2rem;
    background-color:rgb(25, 207, 207);
    font-weight: bolder;
    border-radius:2rem;
    



}

.nutrition>h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
